.projects_hover {
    position: relative;
    background-color: var(--container-color);
    padding: 5px;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    transition: .3s;
    width: 135%;

    &:hover {
        box-shadow: 0px 5px 15px 10px rgba(0, 0, 0, 0.15);
        z-index: 2;
    }
}