.lg-react-element{
    max-width: 100%;
}

.lg-thumb-item {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.lg-container {
    .lg-thumb-outer {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .lg-thumb {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 20px;
            gap: 10px;
        }
    }
}


#show {
    height: auto;
}

#hide {
    max-height: 105px;
    overflow-y: hidden;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#imagePanel {

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        width: 610px;
        max-height: 550px;
        overflow-y: hidden;

        #image {
            display: flex;
            flex-wrap: wrap;
            width: 545px;
        }
    }
}

#imagesPanel {

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        width: 610px;
        max-height: 550px;
        overflow-y: hidden;
        overflow: hidden;

        #image {
            display: flex;
            flex-wrap: wrap;
            min-width: 300px;
            width: auto;
            max-width: 300px;
        }
    }
}

.sidePanel {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    padding: 50px;
    margin-left: 20px;
    margin-right: -20px;
    // align-items: flex-start !important;
    text-align: start !important;


    h3 {
        margin: 0;
    }
}


#show {
    margin: 0;
    max-height: 100%;
    overflow-y: hidden;
}

#hide {
    margin: 0;
    max-height: 100px;
    overflow-y: hidden;
}

.tag {
    width: auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    border-radius: 4px;
    padding: 2px 8px;
    text-transform: uppercase;
    background-color: rgb(224, 242, 255);
}